$primary: #42b983; // 主色调
$secondary: #35495e; // 辅助色
$danger: #ff4444; // 危险色
$warning: #ffbb33; // 警告色
$success: #00C851; // 成功色

// 尺寸变量
$border-radius: 6px;
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;

// 字体变量
$font-main: 'Inter,sans-serif';
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-base: 16px;
$font-size-lg: 18px;
$font-size-xl: 24px;

$bg-color: rgba(0, 0, 0, 0.08);
$panle-width: 300px;