
@use '../abstracts' as a;
/* 基础样式重置 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: a.$font-main;
  font-size: a.$font-size-base;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}

// 清除列表样式
ul, ol {
  list-style: none;
}

// 清除链接样式
a {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

// 图片自适应
img {
  max-width: 100%;
  height: auto;
  display: block;
}
